* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  height: 50vh;
  width: 875px;
}
.wrapper .automobile {
  color: hsl(0, 0%, 95%);
  padding: 2.5rem;
}
.wrapper .automobile.sedan {
  background-color: hsl(31, 77%, 52%);
}
.wrapper .automobile.suv {
  background-color: hsl(184, 100%, 22%);
}
.wrapper .automobile.luxury {
  background-color: hsl(179, 100%, 13%);
}
.wrapper .automobile .automobile-type {
  text-transform: uppercase;
  margin-top: 1.875rem;
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
}
.wrapper .automobile .automobile-desc {
  margin-top: 1.25rem;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.9375rem;
  font-weight: 400;
}
.wrapper .learn-more {
  border: none;
  cursor: pointer;
  height: 45px;
  width: 75%;
  border-radius: 50px;
  margin-top: 5rem;
  background-color: hsl(0, 0%, 95%);
  font-weight: 700;
}
.wrapper .learn-more.sedan {
  color: hsl(31, 77%, 52%);
}
.wrapper .learn-more.suv {
  color: hsl(184, 100%, 22%);
}
.wrapper .learn-more.luxury {
  color: hsl(179, 100%, 13%);
}
.wrapper .learn-more.sedan:hover, .wrapper .learn-more.sedan:active {
  border: 2px solid hsla(0, 0%, 100%, 0.75);
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}
.wrapper .learn-more.suv:hover, .wrapper .learn-more.suv:active {
  border: 2px solid hsla(0, 0%, 100%, 0.75);
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}
.wrapper .learn-more.luxury:hover, .wrapper .learn-more.luxury:active {
  border: 2px solid hsla(0, 0%, 100%, 0.75);
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}
