* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  height: 50vh;
  width: 875px;
}
.wrapper .automobile {
  color: hsl(0, 0%, 95%);
  padding: 2.5rem;
}
