* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  height: 50vh;
  width: 875px;
}
.wrapper .automobile {
  color: hsl(0, 0%, 95%);
  padding: 2.5rem;
}
.wrapper .automobile.sedan {
  background-color: hsl(31, 77%, 52%);
}
.wrapper .automobile.suv {
  background-color: hsl(184, 100%, 22%);
}
.wrapper .automobile.luxury {
  background-color: hsl(179, 100%, 13%);
}
.wrapper .automobile .automobile-type {
  text-transform: uppercase;
  margin-top: 1.875rem;
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
}
