// Primary Colors

$color-sedan: hsl(31, 77%, 52%);
$color-suv: hsl(184, 100%, 22%);
$color-luxury: hsl(179, 100%, 13%);

// Secondary Colors

$color-text: hsl(0, 0%, 95%);
$color-header-button: hsla(0, 0%, 100%, 0.75);
