@import "colors";
@import "typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: $ff-primary;
}

// Main Container

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  height: 50vh;
  width: 875px;

  // Automobile section

  .automobile {
    color: $color-header-button;
    padding: 2.5rem;

    &.sedan {
      background-color: $color-sedan;
    }
    &.suv {
      background-color: $color-suv;
    }
    &.luxury {
      background-color: $color-luxury;
    }

    .automobile-type {
      text-transform: uppercase;
      margin-top: 1.875rem;
      font-family: $ff-secondary;
      color: $color-header-button;
      font-weight: $fw-bold;
    }

    .automobile-desc {
      margin-top: 1.25rem;
      color: $color-text;
      font-size: $fs-text;
      font-weight: $fw-normal;
    }
  }

  // Button Styles

  .learn-more {
    border: none;
    cursor: pointer;
    height: 45px;
    width: 75%;
    border-radius: 50px;
    margin-top: 5rem;
    background-color: $color-header-button;
    font-weight: $fw-bold;

    &.sedan {
      color: $color-sedan;
    }
    &.suv {
      color: $color-suv;
    }
    &.luxury {
      color: $color-luxury;
    }

    // Hover & Active States

    &.sedan:hover,
    &.sedan:active {
      border: 2px solid hsla(0, 0%, 100%, 0.75);
      background-color: hsl(31, 77%, 52%);
      color: hsl(0, 0%, 95%);
    }
    &.suv:hover,
    &.suv:active {
      border: 2px solid hsla(0, 0%, 100%, 0.75);
      background-color: hsl(184, 100%, 22%);
      color: hsl(0, 0%, 95%);
    }
    &.luxury:hover,
    &.luxury:active {
      border: 2px solid hsla(0, 0%, 100%, 0.75);
      background-color: hsl(179, 100%, 13%);
      color: hsl(0, 0%, 95%);
    }
  }
}
