// Font families

$ff-primary: "Lexend Deca", sans-serif;
$ff-secondary: "Big Shoulders Display", cursive;

// Font weights

$fw-normal: 400;
$fw-bold: 700;

// Font sizes

$fs-text: 0.9375rem;
$fs-header: 1.5rem;
